<h1>Bookmark Manager</h1>

<form action="/bookmarks/add" method="get">
  <input type="submit" value="Add Bookmark">
</form>

<form action="/bookmarks" method="get">
  <input type="submit" value="Bookmarks">
</form>